wp-config.php
wp-config-sample.php
node_modules
/wp-admin/
/wp-includes/
/wp-content/themes/oceanwp2/
/wp-content/themes/twentytwentythree/
.htaccess
/wp-content/languages/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/plugins/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/LICENSE
/.vscode/
.gitignore
