html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: Poppins;
}

h1,
h2,
h3,
h4 {
  color: #1b3e41;
}

body *:focus {
  outline: none !important;
}

body.home #main .custom-post-grid-image img {
  transition: transform .3s ease;
}

body.home #main .custom-post-grid-image img:hover,
body.home #main .custom-post-grid-image a:focus img {
  transform: scale(1.025);
}

body.home #main .custom-post-grid .item-wrapper {
  padding-bottom: 1rem;
}

body.home #main .custom-post-grid .item-wrapper:nth-child(3n+0) {
  width: 100%;
}

body.home #main .custom-post-grid-item {
  display: flex;
  flex-direction: column;
}

body.home #main .custom-post-grid-content {
  flex-grow: 1;
}

body.home #main .custom-post-grid-content>p {
  padding-bottom: .5rem;
}

::before {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#site-header-inner {
  height: fit-content !important;
}

#site-logo img {
  padding: 1rem;
}

.site-main .site-content :where(.is-layout-flex) {
  gap: 1rem;
}

.blog-entry-thumbnail {
  margin-bottom: 20px;
}

.blog-entry-date {
  margin-bottom: 40px;
}

.blog-entries-title {
  margin-bottom: 50px;
}

.naujiena #right-sidebar {
  width: 100%;
  background-color: white;
  padding: 1rem;
}

#right-sidebar .sidebar-box>p {
  display: none;
}

#right-sidebar h2 {
  font-size: 1.5rem;
  letter-spacing: -.03rem;
}

#right-sidebar nav ul li .hfe-menu-item {
  padding: .75rem;
  font-size: 1rem;
  display: inline-block;
  font-weight: 500;
}

#right-sidebar nav ul li::before {
  content: '\f0da';
  font: normal normal normal 13px/1 FontAwesome;
  color: #df453e;
}

#right-sidebar form input[type=search],
#right-sidebar form button.hfe-search-submit {
  background-color: #f2f2f2;
  padding: .5rem;
}

#right-sidebar form input[type=search]:focus {
  background-color: #FFFFFF;
  border-right: 1px solid #636363;
}

#right-sidebar .recent-posts-details a {
  color: #1b3e41;
  font-size: 0.9rem;
  letter-spacing: -.03rem;
}

.oceanwp-recent-posts .recent-posts-thumbnail:focus .overlay {
  opacity: 1;
}

#right-sidebar .recent-posts-details .recent-posts-date {
  font-size: 0.8rem;
  letter-spacing: -.03rem;
}

#right-sidebar .recent-posts-details .recent-posts-comments,
#right-sidebar .recent-posts-details .recent-posts-date .sep {
  display: none;
}

#right-sidebar .recent-posts-title:hover,
#right-sidebar .recent-posts-title:focus {
  color: #df453e;
}

.events-table>tbody>tr>td.event-date,
.results-table>tbody>tr>td.event-date,
.results-table>tbody>tr>td.event-file {
  text-wrap: nowrap;
}

.events-table,
.results-table {
  color: #5D6B6D !important;
}

#content-wrap .events-table>tbody>tr>td>a,
#content-wrap .results-table>tbody>tr>td>a {
  color: #5D6B6D;
  text-decoration: none;
}

#content-wrap .events-table>tbody>tr>td>a:hover,
#content-wrap .events-table>tbody>tr>td>a:focus,
#content-wrap .results-table>tbody>tr>td>a:hover,
#content-wrap .results-table>tbody>tr>td>a:focus {
  text-decoration: underline;
}

#site-logo #site-logo-inner a:focus img {
  opacity: .6;
}

.events-table th,
.results-table th {
  text-align: center !important;
  padding: 20px !important;
}

.events-table thead,
.results-table thead {
  color: #a0afb1;
  transition: background-color .3s ease;
}

.events-table tbody,
.results-table tbody {
  border-top-color: #a3b4b7 !important;
}

.events-table thead:hover,
.results-table thead:hover {
  background: #eeeeee;
}

.events-table td,
.results-table td {
  font-size: 13px;
  padding: 10px 20px !important;
}

body.post-type-archive-narys #main #content-wrap {
  max-width: 100% !important;
  padding: 2rem;
}
body.post-type-archive-narys .custom-blog-entries {
  margin-right: -2%;
}
.team-members-blog.custom-blog-entries .blog-entry-team .blog-entry-thumbnail {
  max-height: 189px;
  text-align: center;
  overflow: hidden;
}

.team-members-blog.custom-blog-entries .blog-entry-team .blog-entry-thumbnail img {
  transition: all .3s;
}
.team-members-blog.custom-blog-entries .blog-entry-team .blog-entry-thumbnail img:hover,
.team-members-blog.custom-blog-entries .blog-entry-team .blog-entry-thumbnail a:focus img {
  transform: scale(1.05);
}

.team-members-blog.custom-blog-entries .blog-entry-team header {
  padding: 20px;
  margin-top: -60px;
}

.team-members-blog.custom-blog-entries .blog-entry-team header i.fa,
.narys .entry-content i.fa {
  background-color: #1b3e41;
  color: #a3b4b7;
  transition: background-color 0.5s, color 0.5s;
  padding: 10%;
  margin-right: 4px;
  margin-bottom: 8px;
}

.narys .entry-content i.fa {
  padding: 3%;
}

.narys .entry-content a {
  color: #df453e;
}

.narys h1.single-post-title.entry-title {
  font-size: 3rem;
  letter-spacing: -.05rem;
}

.narys .entry-header h3 {
  font-size: 1.4rem;
}

.narys .entry-content > p {
  margin-bottom: 0;
}

.narys .entry-content .icon-section {
  margin-top: 2rem;
}

.team-members-blog.custom-blog-entries .blog-entry-team header i.fa:hover,
.narys .entry-content i.fa:hover {
  background-color: #df453e;
  color: #FFFFFF;
}

.team-members-blog.custom-blog-entries .blog-entry-team header .blog-entry-team-icons {
  margin-bottom: .8rem;
  position: relative;
}

.team-members-blog.custom-blog-entries article {
  float: left;
  margin-right: 2%;
  transition: all .3s;
  padding-bottom: 2.5rem;
  position: relative;
}

.team-members-blog.custom-blog-entries article:hover {
  transform: translateY(-1rem);
}

.team-members-blog.custom-blog-entries h2,
.team-members-blog.custom-blog-entries h3 {
  letter-spacing: -.03rem;
  line-height: 1.3;
}

.team-members-blog.custom-blog-entries h2 a {
  color: #1b3e41;
  font-weight: 500;
}
.team-members-blog.custom-blog-entries h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1.5rem;
}
.team-members-blog.custom-blog-entries h3 a {
  color:#7d8889;
  font-size: 1rem;
}
.team-members-blog.custom-blog-entries h3 a span {
  font-weight: 400;
  display: block;
}

.custom-blog-entries h2 a:hover,
.custom-blog-entries h3 a:hover {
  color: #df453e;
}

.custom-blog-entries .entry-column-1 {
  width: 98%;
}

.custom-blog-entries .entry-column-2 {
  width: 48%;
}

.custom-blog-entries .entry-column-3 {
  width: 31.3%;
}

.custom-blog-entries .entry-column-4 {
  width: 23%;
}

.custom-blog-entries .entry-column-5 {
  width: 18%;
}

.custom-blog-entries .entry-column-6 {
  width: 14.6%;
}

.custom-blog-entries .blog-entry-team {
  background-color: #FFFFFF;
}

.single-naujiena .naujiena .entry-title {
  font-size: 2.5rem;
  color: #1b3e41;
  letter-spacing: -.05rem;
  line-height: 1.2;
}

.single-naujiena .content-area {
  width: 100%;
  padding: 0;
}

.single-disciplina #main #content-wrap {
  padding-top: 0;
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.single-disciplina #main article.disciplina {
  padding-left: 0;
  padding-right: 0;
}

.single-disciplina .disciplina .row {
  margin-top: 50px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.single-disciplina .disciplina .row .sidebar-small h2,
.single-disciplina .disciplina .row .sidebar-small a {
  font-family: Poppins;
}

.single-disciplina .disciplina .row .sidebar-small a:hover {
  color: #dd3333;
}

.single-disciplina .disciplina .row .sidebar-small .hfe-nav-menu__breakpoint-none {
  width: 100%;
}

.single-disciplina .disciplina .row .sidebar-small h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: .25rem;
}

.single-disciplina .disciplina .entry-header {
  position: relative;
}

.single-disciplina .disciplina .main-section {
  padding: 0 30px 0 30px;
}

.single-disciplina .disciplina .entry-header .image-overlay {
  opacity: 0.5;
  background-position: center center;
  background-color: #FFFFFF;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.single-disciplina .disciplina .entry-header .header-image-title {
  padding-top: 125px;
  padding-bottom: 125px;
  opacity: 1;
  margin-left: 60px;
  position: relative;
  text-shadow: 0.5rem 0 0.5rem #ffffffad;
}

.single-disciplina .disciplina .entry-header .header-image-title .dropdown-divider {
  width: 5%;
  border-top: 5px solid #000000;
}

.single-disciplina .disciplina .main-section .description p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -.03rem;
}

.single-disciplina .disciplina .renginiai {
  margin-top: 3rem;
}

.single-disciplina .disciplina .renginiai h2 {
  font-size: 1.4rem;
  letter-spacing: -.03rem;
}

.single-disciplina .disciplina .renginiai .events-table {
  border-top: 2px solid #a3b4b7;
}

#content-wrap .pagination-buttons {
  text-align: center;
}

#content-wrap .pagination-buttons .page-numbers {
  padding: 0.5rem 1.5rem;
  border: 1px solid #c6c6c6;
  display: inline-block;
  color: #5D6B6D;
  text-decoration: none;
  border-radius: 2rem;
}

#content-wrap .pagination-buttons .page-numbers:is(.current) {
  background-color: #e8e8e8;
  cursor: default;
}

#content-wrap .pagination-buttons .page-numbers:not(.current):focus,
#content-wrap .pagination-buttons .page-numbers:not(.current):hover {
  border-color: #5D6B6D
}

.renginiu-temos button {
  color: #FFFFFF;
  margin-top: 20px;
}

.custom-slider-container {
  width: 100%;
}

.custom-slider {
  visibility: hidden;
}

.custom-slider.slick-initialized {
  visibility: visible;
}

.custom-slider .slick-track {
  display: flex;
  align-items: center;
}

.custom-slider .slick-track a {
  text-decoration: none !important;
}

.custom-slider .slick-slide {
  margin-left: .5rem;
  margin-right: .5rem;
}

.custom-slider .slick-slide .custom-slide-image {
  text-align: center;
}

.custom-slider .slick-slide .custom-slide-image img {
  display: inline-block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bottom-slider .custom-slider .slick-slide .custom-slide-image img {
  max-height: 9rem;
  object-fit: contain;
}

.custom-slider .slick-slide .custom-slide-title {
  height: 36px;
  background-color: #778B8D;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0px;
  word-spacing: 0em;
  font-weight: 500;
  transition: all .3s ease;
}

.custom-slider .slick-slide .custom-slide:hover .custom-slide-title,
.custom-slider a.slick-slide:focus .custom-slide .custom-slide-title {
  background-color: #FFFFFF;
  color: #df453e;
}

.custom-slider .slick-arrow::before {
  display: inline-block;
  font: normal normal normal 30px/1 FontAwesome;
  color: #4e6264 !important;
  z-index: 99;
}

.custom-slider.gallery-slider {
  margin: 10px;
}

.custom-slider.gallery-slider .slick-arrow:before {
  font-size: 20px;
}

.custom-slider.post-slider .slick-prev:before {
  content: "\f104";
}

.custom-slider.post-slider .slick-next:before {
  content: "\f105";
}

.custom-slider.gallery-slider .slick-next:before {
  content: "\f138";
}

.custom-slider.gallery-slider .slick-prev:before {
  content: "\f137";
}

.group-partners {
  padding-bottom: 1rem;
}

.group-partners .wp-block-column img {
  scale: 0.8;
}

body.single-naujiena .naujiena .thumbnail {
  margin-bottom: 3rem;
}

body.single-naujiena .naujiena .row>div:first-child {
  padding-bottom: 3rem;
}

/*
    Media Queries
*/

@media screen and (max-width: 650px) {

  #content-wrap .custom-slider.post-slider {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #content-wrap .custom-slider.post-slider .slick-track {
    margin: 0;
  }

  #content-wrap .custom-slider.post-slider .slick-slide {
    margin: 0 auto;
  }

  #content-wrap .custom-slider.post-slider .slick-slide .custom-slide-title {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }

  body.home .custom-slider-container:has(.post-slider) {
    padding: 0 1rem;
  }

}

@media screen and (max-width: 767px) {
  .custom-slider {
    padding-left: 15px;
    padding-right: 15px;
  }

  body.home .main-content-group-block .main-columns-block {
    padding-top: 1rem;
  }

  body.home #main .custom-slider.post-slider .slick-prev {
    left: -3rem;
  }

  body.home #main .custom-slider.post-slider .slick-next {
    right: -3rem;
  }

  body.home #main .custom-slider.post-slider .slick-prev,
  body.home #main .custom-slider.post-slider .slick-next {
    height: 2.75rem;
    width: 2.75rem;
  }

  .custom-slider.post-slider .slick-prev:before,
  .custom-slider.post-slider .slick-next:before {
    font-size: 2.75rem;
  }

  .custom-slider.gallery-slider .slick-prev {
    left: -10px;
  }

  .custom-slider.gallery-slider .slick-next {
    right: -10px;
  }

  .main-content-group-block .main-columns-block .bottom-slider {
    padding: 0;
  }

  .bottom-slider .custom-slider .slick-slide {
    padding: .5rem;
  }

  .bottom-slider .custom-slider .slick-slide .custom-slide-image img {
    object-fit: cover;
    max-height: unset;
  }

  .group-partners figure img {
    scale: 0.7;
  }

  #wrap header .site-navigation-ldsf {
    align-items: center;
  }

  #wrap header .site-navigation-ldsf nav {
    left: unset;
    right: 0;
    width: calc(100vw - 64px);
  }

  #wrap header .site-navigation-ldsf>div:first-child {
    flex-grow: 1;
  }

  #wrap .naujiena header h1 {
    font-size: 1.4rem;
  }

  main#main #right-sidebar ul.oceanwp-recent-posts li a.recent-posts-title {
    font-size: 1rem;
  }

  .single-disciplina #main #content-wrap .row {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .single-disciplina #main .disciplina .entry-header .header-image-title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: 0;
  }

  .single-disciplina #main .disciplina .entry-header .header-image-title .dropdown-divider {
    margin: 0 auto;
  }

  .single-disciplina #main .disciplina .entry-header .header-image-title h1 {
    font-size: 2rem;
  }

  .single-disciplina #main .disciplina .renginiai {
    text-align: center;
    margin-bottom: 2rem;
  }

  .single-disciplina #main .disciplina .renginiai h2 {
    text-align: center;
  }
  body.post-type-archive-narys main#main .custom-blog-entries article {
    width: 46% !important;
    margin-bottom: 4%;
    margin-right: 4%;
  }
  body.post-type-archive-narys main#main .custom-blog-entries {
    margin-right: -4%;
  }
}

@media screen and (max-width: 1023px) {

  .table.events-table thead,
  .table.results-table thead {
    display: none;
  }

  table.table.events-table tbody,
  table.table.results-table tbody {
    border-top: none;
  }

  table.table.events-table tbody td,
  table.table.results-table tbody td {
    display: block;
    text-align: center;
  }

  table.table.events-table tbody tr,
  table.table.results-table tbody tr {
    border-bottom: 1px solid #606060;
  }

  body.post-type-archive-narys #main .custom-blog-entries article {
    width: 31.3%;
    margin-bottom: 2%;
  }

  div.news h1 {
    font-size: 2.5rem;
  }

  body.post-type-archive-naujiena #main .news#content-wrap {
    padding-top: 1rem;
  }

  .main-content-group-block {
    padding: 0 10px;
  }

  #content-wrap .main-content-group-block .main-columns-block .bottom-slider {
    padding: 0;
  }

  #wrap header .site-navigation-ldsf nav {
    top: 58px;
    position: absolute;
  }

  #wrap header .site-navigation-ldsf .hfe-dropdown {
    box-shadow: 0px 15px 1rem #00000012;
  }

  #wrap header .site-navigation-ldsf .hfe-nav-menu .hfe-menu-item {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #wrap header .site-navigation-ldsf .hfe-nav-menu .hfe-sub-menu-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #wrap header .site-navigation-ldsf .hfe-dropdown,
  #wrap header .site-navigation-ldsf .hfe-nav-menu > .menu-item,
  #wrap header .site-navigation-ldsf .hfe-nav-menu > .menu-item a.hfe-menu-item {
    background-color: #FFFFFF;
  }

  #wrap header .site-navigation-ldsf nav .hfe-nav-menu > .menu-item a.hfe-menu-item {
    color: #324a6d;
    font-weight: 500;
  }

  #wrap header .site-navigation-ldsf nav .hfe-nav-menu > .menu-item a.hfe-menu-item:hover,
  #wrap header .site-navigation-ldsf nav .hfe-nav-menu > .menu-item a.hfe-menu-item:focus {
    color: #df453e;
  }

  #wrap header .site-navigation-ldsf nav>ul>li {
    padding: 0;
  }

  #wrap header .site-navigation-ldsf nav>ul>li:first-child {
    padding-top: 1rem;
  }

  #wrap header .site-navigation-ldsf nav ul li a {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

  #wrap header .site-navigation-ldsf nav ul li a.hfe-sub-menu-item:focus {
    color: #FFFFFF;
  }

  .naujiena>.row>.col-lg-4 {
    padding-top: 0;
  }

  .news .content-area {
    width: 100%;
  }

  .news #right-sidebar {
    float: none;
    width: initial;
    padding-left: 0;
  }

  .news #right-sidebar-inner {
    padding: 0;
  }

  #main #right-sidebar ul.oceanwp-recent-posts li {
    flex-direction: row;
    align-items: stretch;
  }

  #main #right-sidebar ul.oceanwp-recent-posts li .recent-posts-details,
  #main #right-sidebar ul.oceanwp-recent-posts li .recent-posts-details-inner {
    display: flex;
  }

  #main #right-sidebar ul.oceanwp-recent-posts li .recent-posts-details-inner {
    flex-direction: column;
  }

  #main #right-sidebar ul.oceanwp-recent-posts li .recent-posts-details-inner .recent-posts-title {
    flex-grow: 1;
    line-height: 1.3;
  }

  #main #right-sidebar ul.oceanwp-recent-posts li a.recent-posts-thumbnail {
    width: 20%;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  #main #right-sidebar ul.oceanwp-recent-posts li a.recent-posts-title {
    font-size: 1.2rem;
  }

  #main .news #primary {
    margin-bottom: 2rem;
  }

  .single-disciplina .disciplina .entry-header .header-image-title {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .single-disciplina .disciplina .entry-header .header-image-title h1 {
    font-size: 2.5rem;
    margin-bottom: .2rem;
  }
}

@media screen and (max-width: 1366px) {

  body.post-type-archive-narys .custom-blog-entries article {
    width: 23%;
    margin-bottom: 2%;
  }

  body.home .custom-slider-container:has(.post-slider) {
    padding: 0 3rem;
  }

  body.home .post-slider.custom-slider {
    padding: 0;
  }

  body.home .post-slider.custom-slider .slick-prev {
    left: -2.5rem;
    height: 2.5rem;
  }

  body.home .post-slider.custom-slider .slick-next {
    right: -2.5rem;
    height: 2.5rem;
  }

  body.home .post-slider.custom-slider .slick-prev:before,
  body.home .post-slider.custom-slider .slick-next:before {
    font-size: 2.5rem;
  }

  .custom-slider {
    padding-left: 30px;
    padding-right: 30px;
  }

  .custom-slider .slick-prev {
    left: 10px;
  }

  .custom-slider .slick-next {
    right: 10px;
  }

  .custom-slider .slick-slide .custom-slide-title {
    font-size: 0.9rem;
  }

  #wrap header .site-logo-ldsf {
    width: 200px;
  }

  #wrap header nav span {
    border: 0;
  }

  #wrap header nav .hfe-nav-menu a.hfe-menu-item {
    font-size: 1rem;
    padding: 15px;
  }

  #wrap header nav .sub-menu a.hfe-sub-menu-item {
    font-size: 0.9rem;
  }

  body.single-naujiena #main #content-wrap {
    padding-top: 2rem;
  }

  body.single-naujiena .naujiena .entry-title {
    font-size: 2.2rem;
  }

  #right-sidebar #right-sidebar-inner h2 {
    font-size: 1.25rem;
  }

  #right-sidebar ul.oceanwp-recent-posts li {
    flex-direction: column;
  }

  #right-sidebar .oceanwp-recent-posts li .recent-posts-thumbnail {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
  }

  #right-sidebar .oceanwp-recent-posts a.recent-posts-title {
    font-size: 1rem;
  }

  #right-sidebar form {
    margin-bottom: 2rem;
  }

  #right-sidebar form input[type=search] {
    font-size: 0.9rem;
  }

  #right-sidebar nav ul li .hfe-menu-item {
    font-size: 1rem;
    padding: .5rem;
  }

  #main .news h1 {
    font-size: 3rem;
  }

  #main .news#content-wrap {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 1400px) {
  .main-content-group-block {
    padding: 0 30px;
  }

}

.renginiai-accordion .accordion-button {
  font-size: 14px;
}

.renginiai-accordion .accordion-button:hover {
  color: #FFFFFF;
}

.renginiai-accordion .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgb(50 74 109 / 50%);
  border-color: #324a6d;
}

.renginiai-accordion .accordion-button:not(.collapsed) {
  color: #324a6d;
}

.custom-post-grid {
  padding: 0 0 1rem 0 !important;
}

.custom-post-grid p {
  color: #636363;
  letter-spacing: -.01rem;
  line-height: 1.4;
  font-size: 0.85rem;
}

.news#content-wrap #primary {
  padding-right: 0;
}

.custom-post-grid .item-wrapper.item-news-archive .custom-post-grid-item {
  padding-bottom: 1.5rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.custom-post-grid .custom-post-grid-item a {
  color: #1b3e41;
  text-decoration: none !important;
}

.custom-post-grid .custom-post-grid-item a:hover,
.custom-post-grid .custom-post-grid-item a:focus {
  color: #dd3333;
  text-decoration: none !important;
}

.custom-post-grid .custom-post-grid-item .custom-post-grid-image {
  text-align: center;
  position: relative;
  overflow: hidden;
}

body.post-type-archive-naujiena #main .custom-post-grid-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #00000021, transparent);
  position: absolute;
  transition: opacity .3s ease;
  pointer-events: none;
}

body.post-type-archive-naujiena #main .custom-post-grid-item:is(:hover)>.custom-post-grid-image:before,
body.post-type-archive-naujiena #main .custom-post-grid-item >.custom-post-grid-image:has(a:focus):before {
  opacity: 0;
}

.custom-post-grid .custom-post-grid-item .custom-post-grid-content {
  color: #1b3e41;
  padding: 10px;
  position: relative;
}

#main .custom-post-grid .item-wrapper.item-news-archive .custom-post-grid-content {
  padding: .75rem 1.5rem;
  flex-grow: 1;
}

#main .custom-post-grid .item-wrapper.item-news-archive .custom-post-grid-content>p {
  padding: 1rem 0 2rem 0;
}

#main .news #right-sidebar .sidebar-box>.elementor>.elementor-element {
  padding-top: 0;
}

.box-shadow {
  box-shadow: 0 0 10px #0000001a;
  transition: box-shadow .3s ease;
}

.news .box-shadow:hover {
  box-shadow: 0 0 30px #00000027;
}

.custom-post-grid h3 {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0.5rem 0;
}

.custom-post-grid a:focus h3 {
  color:#df453e;
}

.custom-post-grid.grid-item-small h3 {
  font-size: 15px;
}

.custom-post-grid.grid-item-large h3 {
  font-size: 18px;
}

.custom-post-grid .custom-post-grid-content .custom-post-grid-footer p {
  font-size: 13px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  color: #848484;
  font-weight: 300;
}

.custom-post-grid .custom-post-grid-content .custom-post-grid-footer p::before {
  content: '\f0da';
  font: normal normal normal 13px/1 FontAwesome;
  margin-right: 5px;
}

.news h1 {
  font-size: 4.8em;
  color: #1b3e41;
}

.main-content-group-block>* {
  width: 100%;
  max-width: 1400px !important;
  margin: 0 auto;
}

.main-content-group-block .main-columns-block {
  padding-top: 1rem;
}

.main-content-group-block .main-columns-block .group-results,
.main-content-group-block .main-columns-block .group-events {
  row-gap: 0;
}

.main-content-group-block .main-columns-block .group-results table.results-table,
.main-content-group-block .main-columns-block .group-events table.events-table {
  margin-bottom: 1rem;
}

#main .main-content-group-block .main-columns-block:has(.bottom-slider) {
  padding-top: 0;
}

.main-content-group-block .main-columns-block .bottom-slider {
  padding: 2rem 0;
}

.main-content-group-block .main-columns-block .bottom-slider .slick-slide {
  filter: grayscale(1);
  opacity: .5;
  transition: all .3s ease;
  cursor: pointer;
}

.main-content-group-block .main-columns-block .bottom-slider .slick-slide:hover,
.main-content-group-block .main-columns-block .bottom-slider .slick-slide:focus {
  filter: grayscale(0);
  opacity: 1;
}

.main-content-group-block h2.main-page-heading {
  padding: 0 !important;
  line-height: 2.5rem !important;
  width: 100%;
  font-weight: 500;
}

.main-content-group-block .main-page-button a {
  color: #FFFFFF;
  background-color: #778B8D;
  padding: 4px 18px;
}

.main-content-group-block .main-page-button a:hover,
.main-content-group-block .main-page-button a:focus {
  color: #FFFFFF;
  background-color: #506668;
}

#site-header-inner {
  max-width: 100%;
}

#wrap .wp-block-spacer {
  height: 1rem !important;
}

#wrap header .sub-menu {
  padding-left: 1.25rem;
}

#wrap header nav a.hfe-menu-item {
  font-size: 1.1rem;
}

header nav:not(.hfe-dropdown) a.hfe-menu-item {
  color: #324a6d;
}

#wrap header nav a.hfe-sub-menu-item {
  font-size: 1rem;
  padding-left: 0;
  padding-top: .7rem;
  padding-bottom: .7rem;
  justify-content: flex-start;
}

#wrap header nav a.hfe-sub-menu-item::before {
  content: '\f0da';
  font: normal normal normal 13px/1 FontAwesome;
  margin-right: 10px;
  position: initial;
  display: inline-block;
}

#wrap header nav .sub-menu a.hfe-sub-menu-item span {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
}

#wrap header nav .hfe-menu-item,
#wrap header nav .hfe-sub-menu-item {
  font-family: Poppins;
  letter-spacing: -.03rem;
}

header nav .hfe-dropdown {
  transition: opacity .3s ease;
}

#wrap header .hfe-nav-menu__layout-horizontal .hfe-nav-menu .sub-arrow {
  margin-left: 6px;
  font-size: 0.8rem;
}

#wrap header nav>ul>li a:hover,
#wrap header nav>ul>li a:focus {
  outline: none !important;
}

#wrap header a.hfe-sub-menu-item:focus {
  color: white;
}

body.home .group-social .facebook-iframe {
  z-index: 1;
  top: -4rem;
  position: relative;
}

body.home .group-social .social-notice {
  width: 100%;
  max-width: 500px;
  height: 3rem;
  padding: 1rem;
}